$breakpoint: 800px;

@mixin base($calc){
  width: $calc;
  display: inline-block;
  @include reset-display;
  margin-top: 0px;
  position: relative;
}
.container {
  @include outer-container;
  
  .child {
  	@include span-columns (12);
	@include row(table);
	text-align: center;
	margin: 0;
	padding: 0;

	  .block {
		  @include base(23.23176% + 1.769%);
      @media screen and (max-width: $breakpoint){
       @include base(100%);
      }
	  }
	  .half{
        @include base(50%);
        @media screen and (max-width: $breakpoint){
         @include base(100%);
        }
	  }
    .third{
      @include base(100% / 3);
     @media screen and (max-width: $breakpoint){
         @include base(100%);
        }
    }
    .three_quarters{
      @include base(25% * 3);
      @media screen and (max-width: $breakpoint){
       @include base(100%);
      }
    }
    .full{
      @include base(100%);
    }
  }
  
}

.not_small{
  @media screen and (max-width: $breakpoint){
   display: none !important;
  }
}

.left{
  float: left;}
.right{
  float: right;}