$image_size: 6rem;

.us{
  @include span-columns (12);
  @include row(table);
  text-align: center;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #fff;
  background-color: $deep_purple;
  .white{
   .logo{
    width: 70%; 
   }
  }
  .content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 40%;
    margin: auto;
    text-align: center;
  }
  .padding_image{
    padding-top: $image_size;
    padding-bottom: $image_size;
  }
  #us_1{
    background-image: url("/assets/images/serious.jpg");
    background-size: cover;
    background-position: center;
  }
  #us_2{
    background-image: url("/assets/images/money.jpg");
    background-size: cover;
  }
  #us_3{
    background-image: url("/assets/images/hands.jpg");
    background-size: cover;
  }
  #us_4{
    background-image: url("/assets/images/confidence.jpg");
    background-size: cover;
  }
  #us_content{
    position: absolute;
    height: $image_size * 2;
    text-align: center;
    background-color: $purple;
  }
}